@media (max-width: 1200px) {
    .header-img img {
        padding-left: 24px;
        max-width: 140px;
        max-height: 588px;
    }
    .header-title {
        padding-bottom: 20px;
        font-size: 35px;
    }
    .header-text {
        padding-bottom: 30px;
        font-size: 16px;
    }
    .AboutUs-img img {
        width: 384px;
    }
    .AboutUs-title {
        font-size: 30px;
    }
    .AboutUs-textFirst {
        font-size: 16px;
        padding-bottom: 14px;
    }
    .Reservastion-row {
        flex-wrap: wrap;
        max-width: 830px;
        justify-content: space-evenly;
    }
    .Reservastion-card {
        padding: 20px 5px;
        justify-content: center;
        max-width: 350px;

    }
    .accordion {
        padding: 12px;
        font-size: 15px;
        margin-bottom: 14px;
        font-size: 20px;
    }
    .Room-title {
        font-size: 25px;
    }
    .Room-text {
        max-width: none;
    }
    .Room-content {
        padding-left: 25px;
    }
    .Room-accordion {
        padding-top: 120px; 
    }

}
@media (max-width: 855px) {
    /* Button */
    .nav-list {
        display: none;
    }
    
    .nav-GetStarted{
        display: none;
    }
    
    .nav-toggle {
        display: block;
    }
    
    .no-scroll {
        overflow-y: hidden;
    }
    
    .nav-mobile {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 99;
        flex-direction: column;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
        background: linear-gradient(62deg, #192252 -17.38%, #ffffff 78.4%), #ffffff;
    }
    
    
    .nav-mobile .logo{
        font-size: 34px;
    }
    
    .nav-mobile .nav-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 40px;
        font-size: 22px;
    }
    
    .nav-mobile .nav-list a.active::after,
    .nav-mobile .nav-list a:hover::after {
        display: none;
    }
    
    
    .nav-mobile .nav-GetStarted {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 40px;
        font-size: 22px;
    }
    
    .nav-mobile .nav-toggle {
        position: fixed;
        top: 50px;
        right: 50px;
    
    }
    .nav-toggle {
        display: block;
    }
    .btn {
        display: inline-block;
        padding: 12px 24px;

        background: #0E1734;
        border-radius: 4px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;

        color: #FFFFFF;
    }
    .btn:active {
        position: relative;
        top: 1px;
    }
    .header-title {
        padding-bottom: 25px;
        font-size: 30px;
    }
    .header-img img {
        padding-left: 20px;
        max-width: 120px;
        max-height: 588px;
    }
    .AboutUs-img img {
        width: 340px;
        height: 400px;
        padding-right: 0px;
    }
    .AboutUs-title {
        font-size: 25px;
    }
    .AboutUs-textFirst {
        font-size: 14px;
        padding-bottom: 14px;
    }
    .AboutUs-textSecond {
        font-size: 14px;
        padding-bottom: 14px;
    }
    .Benefit-title {
        font-size: 30px;
    }
    .Benefit-text {
        font-size: 14px;
    }
    .Room-row {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .Room-content {
        padding: 162px 207px 0 0;
        max-width: 407px;
        justify-content: center;
    }
    .Room-content {
        padding: 162px 0 0 0;
    }
    .Testimoni-container {
        max-width: 700px;
    }
    .footer h3 {
        font-size: 14px;
    }
    .footer-row {
        display: flex;
        flex-direction: column
    }
    .footer-columnFirst {
        max-width: 200px;
        padding-right: 40px;
    }
    .footer-logo {
        font-size: 32px;
        padding-bottom: 13px;
    }
    .footer-text {
        font-size: 12px;
        padding-bottom: 36px;
    }
    .footer-boxSocial img {
        padding: 10px 24px 15px 0;
    }
    .footer-columnSecond {
        padding-right: 50px;
    }
    .footer-columnthree {
        padding-right: 70px;
    }
    
    .footer-whiteText {
        font-size: 14px;
    }
    
    .footer h3 {
        padding-bottom: 24px;
    }

}
@media (max-width: 752px) {
    .header-img img {
        max-width: 100px;
        
    }
    .header-row  {
        flex-direction: column;
        padding-bottom: 400px;
        position: relative;
        align-items: center;
    }
       

    .header-content {
        padding-top: 600px;
        max-width: 587px;
        position: absolute;
    }

    .btn {
        padding: 10px 14px;
        font-size: 14px;
    }
    .Benefit-row {
        flex-direction: column;
    }
    .Benefit-CabinActivities {

    }
    .AboutUs-row {
        flex-direction: column;
        align-items: center;
    }
    .AboutUs-img {
        width: 384px;
        height: 576px;
        align-items: center;
        padding: 0;
    }
    .AboutUs-img img {
        height: auto;
    }
    .AboutUs-content {
        padding-top: 40px;
    }
    .Benefit {
        padding: 0;
    }
    .Benefit-content-adaptive {
        position: absolute;
        padding-top: 450px;

        
    }
    .Benefit-CabinActivities {
        padding-bottom: 250px;
        position: relative;
        padding-left: 0;
        
    }
    .Benefit-img  {
        max-width: 100%;
        border-radius: 40%;
    }
    .Testimoni-container {
        align-items: center;
    }
    .slider .mySwiper{
        max-width: 500px;
        align-items: center;
    }

}

@media (max-width: 400px) {
    .Benefit-content {
        padding-top: 40px;
       }
    .Benefit-content-adaptive {
    padding-top: 250px;
    }
    .Benefit-img {
        width: 384px;
        height: auto;
    }
    .slider .mySwiper{
        max-width: 250px;
        align-items: center;
    }
    .footer-row {
        display: flex;
        padding: 80px 0 20px 10px;
    }
    
}